html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  text-align: center;
  color: white;
  background-color: #000;
  background-image: url('bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 48px;
  margin: 0px;
}

nav {
  display: inline-block;
  width: fit-content;
  margin: 20px auto;
  background-color: #000;
  border-radius: 10px;
}

button {
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #111;
  color: white;
  font-size: 1rem;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.video-container {
  margin: 30px auto;
  overflow: hidden;
  height: 500px;
  width: 370px;
  position: relative;
  background-color: #000;
  box-shadow: 0px 0px 20px #eee;
}

.video-container h2 {
  margin-top: 220px;
  padding: 0 30px;
}

video {
  height: 100%;
  position: absolute;
  left: -145px;
  transition: 1s all ease;
}